 hr.thick-border {
            border: 2px solid rgb(255, 255, 255);
 }
 a{
    color:rgb(56,149,211)
 }
 

body{
    background-color:rgb(7, 47, 95);
    color:white
    
}
   
h1{
   text-align:center;
   background-color:rgb(18, 97, 160);
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2{
    background-color:rgb(18, 97, 160);
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
.p1{
    text-align:center
}
#p2{
    text-align:center
}

.img2{
    text-align:center
}
.p2{
    text-align:center;
    font-size:30px
}
